import base from 'api/mixins/base'
import axios from 'axios'
import Routes from 'misc/routes'

resourceName = '<%= @resource_name %>'
api = Object.assign base({ resourceName }), {
  # override specific actions here
  # index: (q) ->
    # axios Routes.custom_path(), params: q
}

export default api
