import Vue from 'vue'
import api from 'api/<%= file_name.singularize.underscore %>'
import base from 'store/mixins/base'

storeName = '<%= @store_name %>'
store = Object.assign base({ api, storeName }), {
  # override specific actions here
  # index: (q) ->
    # axios Routes.custom_path(), params: q
}

export default store
